In [0]:
empresas = spark.read.format("csv")\
    .option("header", "True")\
        .option("inferSchema", "True")\
            .option("sep", ";")\
            .load("FileStore/alura/*.csv")

In [0]:
socios = spark.read.format('csv')\
    .option("header", "True")\
        .option("sep", ";")\
            .option("inferSchema", "True")\
                .load("FileStore/socios/*.csv")

In [0]:
estabelecimentos = spark.read.format('csv')\
    .option("header", "True")\
        .option("sep", ";")\
            .option("inferSchema", "True")\
                .load("FileStore/estabelecimentos/*.csv")

In [0]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']


sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [0]:
# no caso de ja existir uma coluna com titulo
"""for index,colName in enumerate(empresasColNames):
        empresas = empresas.withColumnRenamed(f"_c{index}", colName)

empresas.columns"""

In [0]:
empresas = empresas.toDF(*empresasColNames)

socios = socios.toDF(*sociosColNames)

estabelecimentos = estabelecimentos.toDF(*estabsColNames)

In [0]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,"0,00",5,None
1,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,"0,00",5,None
2,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,"0,00",5,None
3,6846,BADU E FILHOS TECIDOS LTDA,2062,49,"4000,00",1,None
4,8416,ELETRICA RUBI LTDA,2062,49,"0,00",5,None

In [0]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,CRISTINA HUNDERTMARK,***637848**,28,19940725,NaN,***000000**,None,0,7
1,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,19940516,NaN,***000000**,None,0,8
2,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,19940516,NaN,***000000**,None,0,5
3,14798,2,HANNE MAHFOUD FADEL,***760388**,49,19940609,NaN,***000000**,None,0,8
4,14798,2,CLOD ASSAD FADEL,***205668**,22,19940609,NaN,***000000**,None,0,6

In [0]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,8638,1,79,1,AGROPECUARIA FAGUNDES,8,20150209,73,None,NaN,...,7255,NaN,None,NaN,None,NaN,None,None,None,None
1,11748,1,90,1,None,4,20181219,63,None,NaN,...,7097,NaN,None,NaN,None,NaN,None,None,None,None
2,12027,1,2,1,None,8,20081231,71,None,NaN,...,7107,NaN,None,NaN,None,NaN,None,None,None,None
3,13289,1,83,1,JS MATERIAIS DE CONSTRUCAO,2,20040123,0,None,NaN,...,6915,19.0,35811286,NaN,None,NaN,None,CONTATO@LEONECONTABIL.COM.BR,None,None
4,13623,1,7,1,MARISTELA INDUSTRIA E COMERCIO DE SORVETES,8,20081231,71,None,NaN,...,9701,NaN,None,NaN,None,NaN,None,None,None,None

In [0]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [0]:
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace("capital_social_da_empresa", ',', '.'))
empresas = empresas.withColumn('capital_social_da_empresa', empresas['capital_social_da_empresa'].cast(DoubleType()))

In [0]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [0]:
estabelecimentos = estabelecimentos\
    .withColumn('data_situacao_cadastral',
                f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), 'yyyyMMdd')
    )\
    .withColumn("data_da_situacao_especial",
               f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), 'yyyyMMdd')
    )\
    .withColumn("data_de_inicio_atividade",
                f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), 'yyyyMMdd') 
    )        



estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [0]:
socios = socios.withColumn('data_de_entrada_sociedade', f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd') )
socios.limit(10).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,CRISTINA HUNDERTMARK,***637848**,28,1994-07-25,NaN,***000000**,None,0,7
1,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,1994-05-16,NaN,***000000**,None,0,8
2,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,1994-05-16,NaN,***000000**,None,0,5
3,14798,2,HANNE MAHFOUD FADEL,***760388**,49,1994-06-09,NaN,***000000**,None,0,8
4,14798,2,CLOD ASSAD FADEL,***205668**,22,1994-06-09,NaN,***000000**,None,0,6
5,17826,2,WALKYRIA ALGARVES,***689078**,49,1997-02-27,NaN,***000000**,None,0,7
6,17826,2,SEBASTIAO JADIR TEIXEIRA NUNES,***904728**,49,2009-08-13,NaN,***000000**,None,0,5
7,19491,2,JOSE JOAO ADAMO,***235698**,49,1994-06-15,NaN,***000000**,None,0,7
8,19491,2,ROSEMARY CANTUARIA AFONSO ADAMO,***959818**,49,1994-06-15,NaN,***000000**,None,0,6
9,27848,2,MARCOS AURELIO MOTTA,***262857**,49,1994-07-18,NaN,***000000**,None,0,7

In [0]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

Select com Spark

In [0]:
empresas.select("razao_social_nome_empresarial", "cnpj_basico").show(5, False)

+--------------------------------------------------------------------------------------------+-----------+
|razao_social_nome_empresarial                                                               |cnpj_basico|
+--------------------------------------------------------------------------------------------+-----------+
|BRASILEIRO & OLIVEIRA LTDA                                                                  |1355       |
|REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|4820       |
|ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |5347       |
|BADU E FILHOS TECIDOS LTDA                                                                  |6846       |
|ELETRICA RUBI LTDA                                                                          |8416       |
+--------------------------------------------------------------------------------------------+-----------+
only showing top 5 rows

In [0]:
#Mudando nome e data
socios_nomes = socios.select("nome_do_socio_ou_razao_social", "faixa_etaria", f.year("data_de_entrada_sociedade").alias('ano_de_entrada'))

In [0]:
socios_nomes.select(f.concat_ws(', ', f.substring_index('nome_do_socio_ou_razao_social', ' ', 1),
                                     f.substring_index('nome_do_socio_ou_razao_social', ' ', -1))\
                                         .alias('nome_e_ultimo_nome'), 'faixa_etaria', 'ano_de_entrada')\
                                             .show(10, truncate=False)

+---------------------+------------+--------------+
|nome_e_ultimo_nome   |faixa_etaria|ano_de_entrada|
+---------------------+------------+--------------+
|CRISTINA, HUNDERTMARK|7           |1994          |
|CELSO, STEPHAN       |8           |1994          |
|EDUARDO, STEPHAN     |5           |1994          |
|HANNE, FADEL         |8           |1994          |
|CLOD, FADEL          |6           |1994          |
|WALKYRIA, ALGARVES   |7           |1997          |
|SEBASTIAO, NUNES     |5           |2009          |
|JOSE, ADAMO          |7           |1994          |
|ROSEMARY, ADAMO      |6           |1994          |
|MARCOS, MOTTA        |7           |1994          |
+---------------------+------------+--------------+
only showing top 10 rows

In [0]:
socios_nomes.show(5, False)

+-------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social  |faixa_etaria|ano_de_entrada|
+-------------------------------+------------+--------------+
|CRISTINA HUNDERTMARK           |7           |1994          |
|CELSO EDUARDO DE CASTRO STEPHAN|8           |1994          |
|EDUARDO BERRINGER STEPHAN      |5           |1994          |
|HANNE MAHFOUD FADEL            |8           |1994          |
|CLOD ASSAD FADEL               |6           |1994          |
+-------------------------------+------------+--------------+
only showing top 5 rows

In [0]:
socios_null = socios.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns])
display(socios_null)

cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,0,208,1234,0,1,2038245,0,1995422,0,0

In [0]:
socios.select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias("ano_de_entrada"))\
    .orderBy('ano_de_entrada', ascending=False)\
    .show(10, False)

+--------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social         |faixa_etaria|ano_de_entrada|
+--------------------------------------+------------+--------------+
|ELTON ROBERTO DA SILVA                |5           |2021          |
|ANA LUCIA ALVES DE CARVALHO           |5           |2021          |
|ELTO DE SOUZA GOMES                   |6           |2021          |
|ORLANDO CLAUDIO GADELHA SIMAS PROCOPIO|6           |2021          |
|RHENNO JAMIL TEBET PAIVA              |3           |2021          |
|EVERSON LUIS DA SILVA MELO            |4           |2021          |
|MARIA ISMENIA BRILHANTE BARROS        |8           |2021          |
|JORGE RODRIGUES SANTOS                |6           |2021          |
|MARIA SUELY DE MOURA                  |5           |2021          |
|WILSON ROCHA FILHO                    |7           |2021          |
+--------------------------------------+------------+--------------+
only showing top 10 rows

In [0]:
socios.select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias("ano_de_entrada"))\
    .orderBy(['ano_de_entrada', 'faixa_etaria'], ascending=[False, False])\
    .show(10, False)

+-------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social        |faixa_etaria|ano_de_entrada|
+-------------------------------------+------------+--------------+
|MARIA RAIMUNDA DOS SANTOS LANZA      |9           |2021          |
|ANDRE PAUL GABAY                     |9           |2021          |
|LUZINETE DANTAS DE OLIVEIRA RODRIGUES|9           |2021          |
|FLORIDA ECHECHIPIA                   |9           |2021          |
|FRANCISCO ALFREDO LOBO JUNGER        |9           |2021          |
|ZELIA FERREIRA DA SILVA              |9           |2021          |
|JOAO KOJIN                           |9           |2021          |
|EUDOXIO PONTES DE SOUZA              |9           |2021          |
|APPARECIDA ALBANI DE LIMA            |9           |2021          |
|ROBERTO CARDOSO DE ALMEIDA AMORIM    |9           |2021          |
+-------------------------------------+------------+--------------+
only showing top 10 rows

In [0]:
empresas.where("capital_social_da_empresa==50").show(5, False)

+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial       |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|17350147   |ERIK MARCELO DOS SANTOS 42107848858 |2135             |50                         |50.0                     |1               |null                       |
|17833214   |ALEXANDRE MACHADO LIMA 73750123772  |2135             |50                         |50.0                     |1               |null                       |
|20860830   |YASMIN MOURA DA FONSECA 13457709793 |2135             |50                         |50.0                     |1               |null                       |
|22242856   |JOAO CESAR MESSIAS 08707149883      |2135             |50                         |50.0                     |1               |null                       |
|23238540   |EVERTON ROBERTO DA SILVA 42101963809|2135             |50                         |50.0                     |1               |null                       |
+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [0]:
socios.select('nome_do_socio_ou_razao_social')\
    .filter(socios.nome_do_socio_ou_razao_social.startswith("LUCIANO"))\
        .filter(socios.nome_do_socio_ou_razao_social.endswith("TINOCO"))\
            .limit(10)\
                .toPandas()

,nome_do_socio_ou_razao_social
0,LUCIANO ACCIOLY TINOCO
1,LUCIANO ACCIOLY TINOCO

In [0]:
empresas.select("razao_social_nome_empresarial", 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .filter(f.upper(empresas.razao_social_nome_empresarial).like("RESTAURANTE%"))\
        .show(10, False)

+------------------------------------------+-----------------+----------------+-------------------------+
|razao_social_nome_empresarial             |natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+------------------------------------------+-----------------+----------------+-------------------------+
|RESTAURANTE IMIGRANTE PORTUGUES LTDA.     |2062             |5               |0.0                      |
|RESTAURANTE E PETISCARIA THE-DELICIA LTDA |2062             |5               |0.0                      |
|RESTAURANTE PONTO NOBRE EIRELI            |2305             |1               |105000.0                 |
|RESTAURANTE ALEGRIA ALEGRIA LTDA          |2062             |1               |5000.0                   |
|RESTAURANTE D GABI EIRELI                 |2305             |1               |95400.0                  |
|RESTAURANTE DONA CHICA LTDA               |2062             |1               |5000.0                   |
|RESTAURANTE SABOR REGIONAL LTDA           |2062             |1               |20000.0                  |
|RESTAURANTE E LANCHONETE MEU CANTINHO LTDA|2062             |5               |0.0                      |
|RESTAURANTE BEM NUTRIDO LTDA              |2062             |5               |0.0                      |
|RESTAURANTE TOQUIO SUSHI EIRELI           |2305             |1               |68000.0                  |
+------------------------------------------+-----------------+----------------+-------------------------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import col

In [0]:
print(socios\
    .filter(socios.nome_do_socio_ou_razao_social.like('%TINOCO'))\
        .count())

146

In [0]:
###AGRUPAMENTO

socios.select(f.year('data_de_entrada_sociedade').alias("ano_de_entrada"))\
    .filter("ano_de_entrada >= 2010")\
        .groupBy('ano_de_entrada')\
            .count().alias("quantidade")\
            .orderBy('ano_de_entrada', ascending=True)\
                .show()

+--------------+------+
|ano_de_entrada| count|
+--------------+------+
|          2010| 79337|
|          2011| 83906|
|          2012| 80100|
|          2013| 83919|
|          2014| 80590|
|          2015| 80906|
|          2016| 81587|
|          2017| 90221|
|          2018| 99935|
|          2019|118247|
|          2020|125927|
|          2021| 56316|
+--------------+------+

In [0]:
#mesmo que em cima, porém muda o nome do 'count'
socios.select(f.year('data_de_entrada_sociedade').alias("ano_de_entrada"))\
    .filter("ano_de_entrada >= 2010")\
    .groupBy('ano_de_entrada')\
    .agg(f.count("*").alias("quantidade"))\
    .orderBy('ano_de_entrada', ascending=True)\
    .show()

+--------------+----------+
|ano_de_entrada|quantidade|
+--------------+----------+
|          2010|     79337|
|          2011|     83906|
|          2012|     80100|
|          2013|     83919|
|          2014|     80590|
|          2015|     80906|
|          2016|     81587|
|          2017|     90221|
|          2018|     99935|
|          2019|    118247|
|          2020|    125927|
|          2021|     56316|
+--------------+----------+

In [0]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,0.0,5,None
1,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,0.0,5,None
2,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,0.0,5,None
3,6846,BADU E FILHOS TECIDOS LTDA,2062,49,4000.0,1,None
4,8416,ELETRICA RUBI LTDA,2062,49,0.0,5,None

In [0]:
empresas.select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
    .groupBy("porte_da_empresa")\
        .agg(
            f.avg("capital_social_da_empresa").alias('capital_social_medio'),
            f.count('cnpj_basico').alias("frequencia")    
        )\
            .orderBy('porte_da_empresa', ascending=True).show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_medio|frequencia|
+----------------+--------------------+----------+
|            null|    8.35421888053467|      5985|
|               1|   339994.7504505567|   3129041|
|               3|   2601023.660907425|    115150|
|               5|   708664.1352757071|   1335493|
+----------------+--------------------+----------+

In [0]:
empresas.select("capital_social_da_empresa").summary().show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                  4585669|
|   mean|         503695.628818785|
| stddev|     2.1118714517240676E8|
|    min|                      0.0|
|    25%|                      0.0|
|    50%|                   1000.0|
|    75%|                   7000.0|
|    max|         3.22014670262E11|
+-------+-------------------------+

In [0]:
empresas_join = estabelecimentos.join(empresas, 'cnpj_basico', how='inner')

In [0]:
empresas_join.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [0]:
frequencia_df = empresas_join.select(
    'cnpj_basico',
    f.year("data_de_inicio_atividade").alias("data_de_inicio")
)\
    .where('data_de_inicio >= 2010')\
        .groupBy('data_de_inicio')\
            .agg(f.count('cnpj_basico').alias('frequencia'))\
                .orderBy('data_de_inicio', ascending=True)

In [0]:
frequencia_df.toPandas()

,data_de_inicio,frequencia
0,2010,154159
1,2011,172677
2,2012,232480
3,2013,198424
4,2014,202276
5,2015,212523
6,2016,265417
7,2017,237292
8,2018,275435
9,2019,325922
10,2020,400654
11,2021,153275

In [0]:
frequencia_df.union(
    frequencia_df.select(
    f.lit('total').alias('data_de_inicio'),
    f.sum(frequencia_df.frequencia).alias("frequencia")
)).show()

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|    154159|
|          2011|    172677|
|          2012|    232480|
|          2013|    198424|
|          2014|    202276|
|          2015|    212523|
|          2016|    265417|
|          2017|    237292|
|          2018|    275435|
|          2019|    325922|
|          2020|    400654|
|          2021|    153275|
|         total|   2830534|
+--------------+----------+