In [2]:
import os

os.environ['SPARK_HOME'] = "C:\spark"

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [11]:
spark

In [12]:
data = [('Zeca', '35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']

df = spark.createDataFrame(data, colNames)
df

DataFrame[Nome: string, Idade: string]

In [13]:
df.show()

df.toPandas()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

   Nome Idade
0  Zeca    35
1   Eva    29

In [14]:
#import zipfile

In [15]:
#zipfile.ZipFile('empresas.zip').extractall('')

In [18]:
"""empresas = spark.read.format('csv')\
.option('header', 'True')\
.option('inferSchema', 'True')\
.load("C:\csvs\empresas\parte01.csv")"""

df = spark.read.format("csv")\
    .option("header", "True")\
    .option("sep", ";")\
        .option("inferSchema", "True")\
            .load("C:\csvs\empresas\parte01.csv")

In [19]:
df.limit(5).toPandas()

,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,_c6
0,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
1,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
2,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
3,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None
4,13623,MARISTELA INDUSTRIA E COMERCIO DE SORVETES LTDA,2062,49,"0,00",5,None

In [20]:
data = [
    ('GISELLE PAULA GUIMARAES CASTRO', 15),
    ('ELAINE GARCIA DE OLIVEIRA', 22),
    ('JOAO CARLOS ABNER DE LOURDES', 43),
    ('MARTA ZELI FERREIRA', 24),
    ('LAUDENETE WIGGERS ROEDER', 51)
]
colNames = ['nome', 'idade']
df = spark.createDataFrame(data, colNames)
df.show(truncate=False)

+------------------------------+-----+
|nome                          |idade|
+------------------------------+-----+
|GISELLE PAULA GUIMARAES CASTRO|15   |
|ELAINE GARCIA DE OLIVEIRA     |22   |
|JOAO CARLOS ABNER DE LOURDES  |43   |
|MARTA ZELI FERREIRA           |24   |
|LAUDENETE WIGGERS ROEDER      |51   |
+------------------------------+-----+

In [21]:
df \
    .select(
        f.concat_ws(
            ', ', 
            f.substring_index('nome', ' ', -1), 
            f.substring_index('nome', ' ', 1)
        ).alias('ident'), 
        'idade') \
    .show(truncate=False)

NameError: name 'f' is not defined

In [6]:
from pyspark.sql import functions as f

In [7]:
data = [
    ('CARLOS', 'MATEMÁTICA', 7), 
    ('IVO', 'MATEMÁTICA', 9), 
    ('MÁRCIA', 'MATEMÁTICA', 8), 
    ('LEILA', 'MATEMÁTICA', 9), 
    ('BRENO', 'MATEMÁTICA', 7), 
    ('LETÍCIA', 'MATEMÁTICA', 8), 
    ('CARLOS', 'FÍSICA', 2), 
    ('IVO', 'FÍSICA', 8), 
    ('MÁRCIA', 'FÍSICA', 10), 
    ('LEILA', 'FÍSICA', 9), 
    ('BRENO', 'FÍSICA', 1), 
    ('LETÍCIA', 'FÍSICA', 6), 
    ('CARLOS', 'QUÍMICA', 10), 
    ('IVO', 'QUÍMICA', 8), 
    ('MÁRCIA', 'QUÍMICA', 1), 
    ('LEILA', 'QUÍMICA', 10), 
    ('BRENO', 'QUÍMICA', 7), 
    ('LETÍCIA', 'QUÍMICA', 9)
]
colNames = ['nome', 'materia', 'nota']

In [8]:
df = spark.createDataFrame(data, colNames)

In [10]:
df = df.withColumn('status', f.when(df.nota >=7, "APROVADO")\
                   .otherwise("REPROVADO"))

In [18]:
df.select("*").orderBy(["nota", 'nome'], ascending=[False, True]).show()

+-------+----------+----+---------+
|   nome|   materia|nota|   status|
+-------+----------+----+---------+
| CARLOS|   QUÍMICA|  10| APROVADO|
|  LEILA|   QUÍMICA|  10| APROVADO|
| MÁRCIA|    FÍSICA|  10| APROVADO|
|    IVO|MATEMÁTICA|   9| APROVADO|
|  LEILA|    FÍSICA|   9| APROVADO|
|  LEILA|MATEMÁTICA|   9| APROVADO|
|LETÍCIA|   QUÍMICA|   9| APROVADO|
|    IVO|    FÍSICA|   8| APROVADO|
|    IVO|   QUÍMICA|   8| APROVADO|
|LETÍCIA|MATEMÁTICA|   8| APROVADO|
| MÁRCIA|MATEMÁTICA|   8| APROVADO|
|  BRENO|   QUÍMICA|   7| APROVADO|
|  BRENO|MATEMÁTICA|   7| APROVADO|
| CARLOS|MATEMÁTICA|   7| APROVADO|
|LETÍCIA|    FÍSICA|   6|REPROVADO|
| CARLOS|    FÍSICA|   2|REPROVADO|
|  BRENO|    FÍSICA|   1|REPROVADO|
| MÁRCIA|   QUÍMICA|   1|REPROVADO|
+-------+----------+----+---------+

In [20]:
df.select('nota')\
.summary().show()

+-------+------------------+
|summary|              nota|
+-------+------------------+
|  count|                18|
|   mean| 7.166666666666667|
| stddev|2.9154759474226504|
|    min|                 1|
|    25%|                 7|
|    50%|                 8|
|    75%|                 9|
|    max|                10|
+-------+------------------+

In [30]:
df.groupBy("status")\
.count().orderBy("status", ascending=True)\
.show()

+---------+-----+
|   status|count|
+---------+-----+
| APROVADO|   14|
|REPROVADO|    4|
+---------+-----+

In [34]:
df.count().show()

AttributeError: 'int' object has no attribute 'show'

In [11]:
df.select('*').where('nota == 8')\
.show()

+-------+----------+----+
|   nome|   materia|nota|
+-------+----------+----+
| MÁRCIA|MATEMÁTICA|   8|
|LETÍCIA|MATEMÁTICA|   8|
|    IVO|    FÍSICA|   8|
|    IVO|   QUÍMICA|   8|
+-------+----------+----+